- name: Clone DevHub-infra repo
  ansible.builtin.git:
    repo: https://github.com/Goonerd17/DevHub-infra.git
    dest: /tmp/devhub-infra
    version: main

- name: Delete frontend deployment
  shell: |
    kubectl delete -f /tmp/devhub-infra/k8s/{{ target_env }}/devhub-frontend/deployment.yml --ignore-not-found

- name: Delete frontend namespace
  shell: |
    kubectl delete -f /tmp/devhub-infra/k8s/{{ target_env }}/devhub-frontend/namespace.yml --ignore-not-found

- name: Delete backend deployment
  shell: |
    kubectl delete -f /tmp/devhub-infra/k8s/{{ target_env }}/devhub-backend/deployment.yml --ignore-not-found

- name: Delete backend namespace
  shell: |
    kubectl delete -f /tmp/devhub-infra/k8s/{{ target_env }}/devhub-backend/namespace.yml --ignore-not-found

- name: Delete ingress controller
  shell: |
    kubectl delete -f /tmp/devhub-infra/k8s/{{ target_env }}/ingress/devhub-ingress-controller.yml --ignore-not-found
