---
- name: Disable swap
  ansible.builtin.command: swapoff -a
  when: ansible_swaptotal_mb > 0

- name: Remove swap entry from /etc/fstab
  ansible.builtin.replace:
    path: /etc/fstab
    regexp: '^\s*(.+\s+swap\s+.+)$'
    replace: '# \1'

- name: Install common packages
  ansible.builtin.apt:
    name:
      - curl
      - git
      - apt-transport-https
      - ca-certificates
      - gnupg
      - software-properties-common
    state: present
    update_cache: yes
