---
- name: Install dependencies
  apt:
    name:
      - apt-transport-https
      - curl
      - ca-certificates
      - software-properties-common
    state: present
    update_cache: yes

- name: Disable swap
  command: swapoff -a

- name: Remove swap entry in fstab
  replace:
    path: /etc/fstab
    regexp: '^.*swap.*$'
    replace: '# swap disabled by Ansible'

- name: Add Kubernetes APT key
  apt_key:
    url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
    state: present

- name: Add Kubernetes apt repository
  apt_repository:
    repo: deb http://apt.kubernetes.io/ kubernetes-xenial main

- name: Install Kubernetes components
  apt:
    name:
      - kubeadm
      - kubelet
      - kubectl
    state: present
    update_cache: yes
