---
- name: Disable swap
  ansible.builtin.command: swapoff -a
  when: ansible_swaptotal_mb > 0

- name: Remove swap entry from /etc/fstab
  ansible.builtin.replace:
    path: /etc/fstab
    regexp: '^\s*(.+\s+swap\s+.+)$'
    replace: '# \1'

- name: Remove old Kubernetes repositories at common stage
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/apt/sources.list.d/kubernetes.list
    - /etc/apt/sources.list.d/k8s.list
    - /etc/apt/sources.list.d/kubernetes-stable.list
    - /etc/apt/sources.list.d/isv:kubernetes.list
    - /etc/apt/sources.list.d/kubernetes.sources

- name: Remove old Kubernetes keyrings at common stage
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/apt/keyrings/kubernetes.gpg
    - /etc/apt/keyrings/kubernetes-apt-keyring.gpg

- name: Install common packages
  ansible.builtin.apt:
    name:
      - curl
      - git
      - apt-transport-https
      - ca-certificates
      - gnupg
      - software-properties-common
    state: present
    update_cache: yes