---
- name: Add kube-prometheus helm repo
  become_user: vagrant
  command: helm repo add prometheus-community https://prometheus-community.github.io/helm-charts

- name: Update helm charts
  become_user: vagrant
  command: helm repo update

- name: Install Prometheus & Grafana
  become_user: vagrant
  command: |
    helm install monitoring prometheus-community/kube-prometheus-stack \
      --namespace monitoring --create-namespace
