---
# -----------------------------------------
# 0. Ensure IP forwarding enabled (worker)
# -----------------------------------------
- name: Ensure net.ipv4.ip_forward = 1
  ansible.builtin.sysctl:
    name: net.ipv4.ip_forward
    value: 1
    state: present
    reload: yes

# br_netfilter는 kubeadm join 시 필수
- name: Ensure br_netfilter loaded
  ansible.builtin.modprobe:
    name: br_netfilter
    state: present

# kubeadm preflight 에 필요한 값 추가
- name: Ensure Kubernetes sysctl params
  ansible.builtin.copy:
    content: |
      net.bridge.bridge-nf-call-iptables = 1
      net.bridge.bridge-nf-call-ip6tables = 1
      net.ipv4.ip_forward = 1
    dest: /etc/sysctl.d/k8s.conf
    owner: root
    group: root
    mode: "0644"

- name: Reload sysctl
  ansible.builtin.command: sysctl --system

# -----------------------------------------
# 1. Fetch join script from master → control
# -----------------------------------------
- name: Fetch join script from master
  ansible.builtin.fetch:
    src: /tmp/kubeadm_join.sh
    dest: /tmp/kubeadm_join.sh
    flat: yes
  delegate_to: devhub-masternode01
  run_once: true

# -----------------------------------------
# 2. control node → worker로 복사
# -----------------------------------------
- name: Copy join script to worker
  ansible.builtin.copy:
    src: /tmp/kubeadm_join.sh
    dest: /tmp/kubeadm_join.sh
    mode: '0755'

# -----------------------------------------
# 3. run kubeadm join
# -----------------------------------------
- name: Run kubeadm join on worker
  ansible.builtin.command: bash /tmp/kubeadm_join.sh
  register: join_result
  failed_when: join_result.rc != 0 and "'already exists'" not in join_result.stderr
