---
- name: Create ArgoCD namespace
  ansible.builtin.command: kubectl create ns argocd
  args:
    warn: false
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf

- name: Install ArgoCD
  ansible.builtin.command: kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf
