# ------------------------------------------------------
# 1. Infra Repo Clone
# ------------------------------------------------------
- name: Clone DevHub-infra repo
  ansible.builtin.git:
    repo: "https://github.com/Goonerd17/DevHub-infra.git"
    dest: "/tmp/devhub-infra"
    version: main
    force: yes

# ------------------------------------------------------
# 2. Namespace 생성
# ------------------------------------------------------
- name: Apply backend namespace
  kubernetes.core.k8s:
    state: present
    src: "/tmp/devhub-infra/k8s/{{ target_env }}/devhub-backend/namespace.yml"

- name: Apply frontend namespace
  kubernetes.core.k8s:
    state: present
    src: "/tmp/devhub-infra/k8s/{{ target_env }}/devhub-frontend/namespace.yml"

# ------------------------------------------------------
# 3. Ingress Controller (Deployment + Service + RBAC)
# ------------------------------------------------------
- name: Apply ingress controller
  kubernetes.core.k8s:
    state: present
    src: "/tmp/devhub-infra/k8s/{{ target_env }}/ingress/devhub-ingress-controller.yml"

# ------------------------------------------------------
# 4. Backend
# ------------------------------------------------------
- name: Apply backend deployment
  kubernetes.core.k8s:
    state: present
    src: "/tmp/devhub-infra/k8s/{{ target_env }}/devhub-backend/deployment.yml"

- name: Apply backend service
  kubernetes.core.k8s:
    state: present
    src: "/tmp/devhub-infra/k8s/{{ target_env }}/devhub-backend/service.yml"

# ------------------------------------------------------
# 5. Frontend
# ------------------------------------------------------
- name: Apply frontend deployment
  kubernetes.core.k8s:
    state: present
    src: "/tmp/devhub-infra/k8s/{{ target_env }}/devhub-frontend/deployment.yml"

- name: Apply frontend service
  kubernetes.core.k8s:
    state: present
    src: "/tmp/devhub-infra/k8s/{{ target_env }}/devhub-frontend/service.yml"

# ------------------------------------------------------
# 6. Ingress Routing
# ------------------------------------------------------
- name: Apply ingress rules (devhub.local)
  kubernetes.core.k8s:
    state: present
    src: "/tmp/devhub-infra/k8s/{{ target_env }}/ingress/devhub-ingress.yml"